.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  font-size: 20px;
  border: none;
  width: 350px;
  margin-bottom: 10px;
}

.button {
  display: block;
  margin-left: 10px;
  width: 70px;
  height: 25px;
  font-size: 16px;
  border-radius: 5px;
  border-color: lightgrey;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-image: linear-gradient(
    rgba(120, 181, 221, 0.76),
    rgba(10, 27, 216, 0.9)
  );
  border: none;
  color: white;
}
